*~
*.#*
*.6pre1
*.a
*.autosave
*.idea
andrey
ChangeLog
CMakeFiles
core
*.cover
.coverage
.coverage.*
coverage.xml
.cproject
.directory
.cache
*.egg
*.exe
file.txt
.installed.cfg
*kate-swp
.kdev_*
**.kdev4
libtformheader.so
*.log
Makefile
Makefile.*
*.manifest
*.mo
*moc_*
nosetests.xml
*.o
*.pb.cc
*.pb.h
*_pb2.py
*.pb.js
pip-delete-this-directory.txt
pip-log.txt
*portinglog.txt
*.pot
.project
*.pyc
*$py.class
*.py[cod]
.Python
qrc_*.cpp
.rcc
*.save
*.so
*.spec
*.svn-base
*.swp
t7
*test
.ui
*.user
*.user.*
object_script.*

develop-eggs/
dist/
downloads/
*.egg-info/
htmlcov/
build/
*eggs/
env/
__pycache__/
lib/
lib64/
.moc/
.o/
parts/
sdist/
.svn/
.tox/
var/
.tbs_props/

dlib/lib/*

ui_*.h

!**/core/
!**/core.pro
!**/*.cpp
!**/test/
!**/autotest/
!**/*.pro
!**/build_tools
.git/*

subdir*.pro
.qmake.stash
qrc_*.cpp

.exrc

