[Desktop Entry]
Name=mappi.msgloader
Name[ru]=Загрузка телеграмм
Type=Application
NoDisplay = false
TryExec = @PRJ_DIR@/bin/mappi.msgloader
Exec = @PRJ_DIR@/bin/mappi.msgloader
Icon = @PRJ_DIR@/share/meteo/msgloader.png
Hidden = false
Terminal = false
StartupNotify = false
Categories = X-mappi;
